﻿<template>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <h2>${heading}</h2>
                </div>
                <div class="col-md-4"></div>
            </div>

            <form  role="form" id="addPlantForm" submit.delegate="add()" validate.bind="validation">
                <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-1"><label class="form-control-label">Image Url</label></div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="imageUrl" placeholder="Image Url" value.bind="imageUrl" data-toggle="tooltip" data-placement="right" title="Hooray!">
                </div>
                <div class="col-sm-3"></div>
                </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-1"><label class="form-control-label">Common Name</label></div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="commonName" placeholder="Common Name" value.bind="commonName">
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-1"><label class="form-control-label">Family Name</label></div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="family" placeholder="Family Name" value.bind="family">
                </div>
                <div class="col-sm-3"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-offset-2 col-sm-1"><label class="form-control-label">Genus</label></div>   
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="genus" placeholder="Genus" value.bind="genus">
                </div>
                <div class="col-sm-3"></div>
            </div>


            <div class="form-group row">
                <div class="col-sm-offset-7 col-sm-1 text-right">
                    <button type="submit" class="btn btn-primary">Add Plant</button>
                </div>
                <div class="col-sm-2"></div>
            </div>
            </form>
            </div>
    </section>
</template>