﻿<template>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <h2>${heading}</h2>
                </div>
                <div class="col-md-4"></div>
            </div>

            <form role="form" id="loginForm" submit.delegate="login()" validate.bind="validation">

                <require from="components/react-element"></require>
                <react-element data.bind="someData"></react-element>

                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-1"><label class="form-control-label">Email</label></div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="email" placeholder="Email" value.bind="email" data-toggle="tooltip" data-placement="right" title="Hooray!">
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-1"><label class="form-control-label">Password</label></div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="password" placeholder="Password" value.bind="password">
                    </div>
                    <div class="col-sm-3"></div>
                </div>

                <div class="form-group row">
                    <div class="col-sm-offset-7 col-sm-1 text-right">
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </form>
        </div>
        <script>
            
        </script>
    </section>
</template>