﻿<template>
    <require from="components/react-element"></require>
    
    <h1>This is the homepage</h1>
    <h2>Let's render a React component</h2>
    
    <!-- Our custom element and data passed through to the bindable -->
    <react-element data.bind="someData"></react-element>
  
</template>